doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  body
    block content
    script(type='text/javascript',src='//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
